{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.10.0"},       % or 2.11.x/2.12.x if your OTP requires newer
    {cowlib, "2.13.0"},       % matches cowboy 3.10.x line
    {ranch,  "2.1.0"},         % ranch 2.x for cowboy 2.x,
        {jiffy, "1.1.2"},
        {jose, "1.11.5"},
        {gun, "2.0.0"}
]}.

{shell, [
    %% {config, "config/sys.config"},
        {apps, [royal]},
        {relx, [{vm_args_src, "rel/vm.args"}]}
]}.
