[{royal, [
    {pools, [
        {pool1,                      %% Name (atom)
         [{size, 10}, {max_overflow, 2}], %% SizeArgs for poolboy
        #{
            host => "127.0.0.1",
            database => "royal_db",
            username => "royal",
            password => "royal_pass"
        }}
    ]}
]}].

